body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.keen-slider {
  height: fit-content; /* Đảm bảo chiều cao đầy đủ cho slider */
  background-color: white; /* Đặt màu nền của slider thành màu trắng */
  display: flex;
  gap: 15px;
  align-items: center;
}

.keen-slider__slide {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 868px; /* Đặt chiều cao cho từng slide */
  max-height: 100vh; /* Đảm bảo không vượt quá chiều cao của viewport */
}

/* .card-slider {
  display: flex;
  flex-direction: column;`` 
  align-items: center;
  text-align: center;
} */

.card-slider img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* .card-slider .title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.card-slider .description {
  font-size: 16px;
  color: #666;
} */

/* /* .number-slide1 {
  /* background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  ); 
} */

/* .number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
} */
/* 
.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
} */

/* .number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
} */

/* .number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
} */

/* .number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}  */

.category-titles {
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /* Khoảng cách giữa danh mục và slider */
  padding: 0px; /* Thêm padding để không bị cắt bớt */
  /* background-color: white; Màu nền cho khu vực danh mục */
  z-index: 10; /* Đảm bảo danh mục nằm trên các phần tử khác */
}

.category-title {
  background: none;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.category-title.active {
  border-color: #007bff; /* Màu sắc của nút đang hoạt động */
  color: #007bff; /* Màu chữ của nút đang hoạt động */
}

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  right: 5px;
}

.arrow--disabled {
  fill: "whilte";
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: "whilte";
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
